.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .stories, .authors {
    flex: 1;
  
    h4 {
      font-size: 1.35rem;
      font-weight: 500;
    }

    span {
      font-size: 2rem;
      font-weight: 700;
      color: #333;
    }
  }
}