@import '../../assets/styles/variables.scss';

.c-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.45rem 1.05rem;
  border: 1px solid;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;

  &.green {
    border-color: $primary;
    color: $primary;

    &.filled {
      color: #fff;
      background-color: $primary;
    }
  }

  &.grey {
    border-color: $bk-background;
    color: $bk-background;
    
    &.filled {
      color: #fff;
      background-color: $bk-background;
    }
  }

  &.block {
    display: block;
  }

  &.rounded {
    border-radius: 18px;
  }

  &.extra-small {
    font-size: 0.75rem;
    padding: 0.2rem 0.45rem;
  }

  &.small {
    font-size: 0.85rem;
    padding: 0.3rem 0.75rem;
  }

  &.medium {
    font-size: 0.95rem;
    padding: 0.4rem 1.05rem;
  }

  &.large {
    font-size: 1.05rem;
    padding: 0.5rem 1.35rem;
  }

  &.extra-large {
    font-size: 1.15rem;
    padding: 0.6rem 1.65rem;
  }
}